<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Hrushikesh Bhat - Artworks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style>
    nav {
      color: #fff;
      background-color: #8d67a7;
    }

    a {
      color: #fff;
    }

    a:hover {
      color: rgb(194, 203, 211);
    }

    body {
      font-family: sans-serif;
    }

    #imagemodal {
      width: 100%;
      align-self: center;
      text-align: center;
      align-content: center;
    }
    
  </style>
</head>

<body>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <script>
    $(function () {
      $('.pop').on('click', function () {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        $('#imagemodal').modal('show');
      });
    });
  </script>

  <!-- Section Navbar As a link -->
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><strong>Hrushikesh Bhat</strong></a>
    </div>
  </nav>
  <!-- End Section Navbar-->


  <!-- Section Title with 3 sliding images for games -->
  <section class="d-flex flex-column justify-content-center">
    <div class="container mt-2">
      <h1 class="text-center display-1"
        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <strong>Artworks</strong>
      </h1>
    </div>
  </section>
  <!------------------- End Section Title ----------------->


  <!-- Section photos -->
  <section id="photos">
    <div class="container">
      <div class="row">
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/BurningEye.png">
          <h1>Burning Eye</h1>
        </a>
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/Face.png">
          <h1>The Face</h1>
        </a>
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/Fantasy.png">
          <h1>Night Sky</h1>
        </a>
      </div>

      <div class="row">
        <a class="pop  col-xl-4">
          <img class="w-100" src="/static/artworks/IronMan1.png">
          <h1>Iron Man</h1>
        </a>
        <a class="pop  col-xl-4">
          <img class="w-100" src="/static/artworks/LittleGirl.png">
          <h1>Little Girl</h1>
        </a>
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/OrcRender.jpg">
          <h1>Orc</h1>
        </a>
      </div>

      <div class="row">
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/RenderPencil.jpg">
          <h1>Pencil</h1>
        </a>
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/Rock1.jpg">
          <h1>Stylized Rock</h1>
        </a>
        <a class="pop col-xl-4">
          <img class="w-100" src="/static/artworks/Rock2.jpg">
          <h1>Stylized Rock</h1>
        </a>
      </div>

      <div class="row col-xl-4">
        <a class="pop ">
          <img class="w-100" src="/static/artworks/RockyWall.jpg">
          <h1>Broken Wall</h1>
        </a>
      </div>
    </div>
  </section>
  <!-- End Section photos-->


  <!-- Creates the bootstrap modal where the image will appear -->
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" class="imagepreview" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>


</body>

</html>