<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Hrushikesh Bhat - Games</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <style>
    button[type="submit"] {
      background: #8d67a7;
      border: 0;
      padding: 10px 35px;
      color: #fff;
      transition: 0.4s;
      border-radius: 50px;
    }

    button[type="submit"]:hover {
      background: #6c4b83;
    }

    nav {
      color: #fff;
      background-color: #8d67a7;
    }
    a {
      color: #fff;
    }

    a:hover {
      color: rgb(194, 203, 211);
    }
  </style>

</head>

<body>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- Section Navbar As a link -->
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><strong>Hrushikesh Bhat</strong></a>
    </div>
  </nav>
  <!-- End Section Navbar-->


  <!-- Section Banner with 3 sliding images for games -->
  <section id="banner">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/projects_titles/games1.jfif" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Games</h1>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/img/projects_titles/games2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/projects_titles/games3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>
  <!------------------- End Section Banner ----------------->

  <!--  Section game cards -->
  <section id="gamecards">
    <div class="container">
      <div class="row me-auto">

        <div class="col my-4 me-auto">
          <div class="card" style="width: auto;">
            <img src="https://img.itch.zone/aW1nLzI1MzIwMTcucG5n/315x250%23c/Xo%2B%2FJS.png" style="width: 16rem;"
              class="card-img-top" alt="portfolio-1">
            <div class="card-body text-center">
              <h5 class="card-title">Marker Man</h5>
              <button onclick="window.open('https://antelope-games.itch.io/marker-man')" type="submit">View</button>
            </div>
          </div>
        </div>

        <div class="col my-4 me-auto">
          <div class="card" style="width: auto;">
            <img src="https://img.itch.zone/aW1nLzQ0MDUwNzkucG5n/105x83%23/4XciYH.png" class="card-img-top"
              alt="portfolio-1">
            <div class="card-body text-center">
              <h5 class="card-title">Prakruthi</h5>
              <button onclick="window.open('https://renderquake.itch.io/prakruthi')" type="submit">View</button>
            </div>
          </div>
        </div>

        <div class="col my-4 me-auto">
          <div class="card" style="width: auto;">
            <img src="https://img.itch.zone/aW1nLzU5ODg1NjguanBn/105x83%23/JTMkR7.jpg" class="card-img-top"
              alt="portfolio-1">
            <div class="card-body text-center">
              <h5 class="card-title">Keep Distance</h5>
              <button onclick="window.open('https://antelope-games.itch.io/keep-distance')" type="submit">View</button>
            </div>
          </div>
        </div>

        <div class="col my-4 me-auto">
          <div class="card" style="width: auto;">
            <img src="https://img.itch.zone/aW1nLzI2NjQ4ODQucG5n/original/DtyK%2B0.png" class="card-img-top"
              alt="portfolio-1">
            <div class="card-body text-center">
              <h5 class="card-title"></h5>
              <button onclick="window.open('https://renderquake.itch.io/animalia')" type="submit">View</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row me-auto">

        <div class="col-xl-3 my-4 me-auto">
          <div class="card" style="width: auto;">
            <img src="https://img.itch.zone/aW1nLzI2MjQzNjAucG5n/original/ObXZwG.png" class="card-img-top"
              alt="portfolio-1">
            <div class="card-body text-center">
              <h5 class="card-title">Redemption</h5>
              <button onclick="window.open('https://deadgamestudios.itch.io/redemption')" type="submit">View</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ---------------End Section game cards --------------------- -->


</body>

</html>