<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Hrushikesh Bhat - Others</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <style>
    canvas {
      position: fixed;
      top: 0;
      left: 0;
    }

    main {
      position: absolute;
      align-self: center;
      width: 100%;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #title {
      color: white;
      size: 46;
      text-decoration: none;
      font-size: 60px;
    }

    #title:hover {
      color: purple;
      
    }
  </style>

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <script type="module">

    // Find the latest version by visiting https://cdn.skypack.dev/three.
    import * as THREE from 'https://cdn.skypack.dev/three@0.132.2';
    import { OrbitControls } from 'https://cdn.skypack.dev/three@0.132.2/examples/jsm/controls/OrbitControls.js';

    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

    const spaceTex = new THREE.TextureLoader().load('/static/img/space_bg.jpg');

    scene.background = spaceTex;


    const renderer = new THREE.WebGLRenderer({
      canvas: document.querySelector('#canvas'),
    });
    
    //const controls = new OrbitControls(camera, renderer.domElement);
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    camera.position.setZ(30);

    renderer.render(scene, camera);

    const geometry = new THREE.TorusGeometry(10, 3, 16, 100);
    const material = new THREE.MeshBasicMaterial({ color: 0xFF6347, wireframe: true });
    const torus = new THREE.Mesh(geometry, material);
    //torus.position.z = -25;
    const light = new THREE.AmbientLight(0xffffff);

    scene.add(light);
    //const grid = new THREE.GridHelper(200, 50);

    scene.add(torus);
    //scene.add(grid);

    function addStar() {
      const sphere = new THREE.SphereGeometry(0.25);
      const material = new THREE.MeshStandardMaterial({ color: 0xFFFFFF });
      const star = new THREE.Mesh(sphere, material);

      const [x, y, z] = Array(3).fill().map(() => THREE.MathUtils.randFloatSpread(500));
      star.position.set(x, y, z);
      scene.add(star);
    }

    Array(1000).fill().forEach(addStar);

    function moveCamera() {
      const t = document.body.getBoundingClientRect().top;
      camera.position.z = t * -0.05;
    }

    document.body.onscroll = moveCamera;
    moveCamera();




    function animate() {
      requestAnimationFrame(animate);
      torus.rotation.x += 0.01;
      torus.rotation.y += 0.005;
      torus.rotation.z += 0.01;

      //controls.update();

      renderer.render(scene, camera);
    }

    animate();
  </script>

  <canvas id="canvas"> </canvas>

  <main>

    <header class="text-center my-4">
      <a id="title" href="/">Hrushikesh Bhat</a>
      <p>What am I up to?</p>
    </header>

    <section class="">

      <div class="row">

        <div class="col-lg-6 text-center">
          <img width="350px;" class="img-fluid" src="/static/img/profile-img.jpg" alt="">
        </div>

        <div class="col-lg-6">
          <p>Passionate <strong>Video Game Developer</strong>, with a vision to make a mark on the gaming industry 
            by creating new and emmersive gaming experiences for everyone. I have developed games for Windows, Android, IOS and Linux 
            and worked with the technologies like AR (AR Core and AR Kit) and VR (HTC VIVE and Oculus).</p>
        </div>
        
      </div>

    </section>    

    <section class="">

      <div class="row">

        <div class="col-lg-6 text-center">
          <img width="350px;" class="img-fluid" src="/static/img/profile-img.jpg" alt="">
        </div>

        <div class="col-lg-6">
          <p>Passionate <strong>Video Game Developer</strong>, with a vision to make a mark on the gaming industry 
            by creating new and emmersive gaming experiences for everyone. I have developed games for Windows, Android, IOS and Linux 
            and worked with the technologies like AR (AR Core and AR Kit) and VR (HTC VIVE and Oculus).</p>
        </div>
        
      </div>

    </section>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

     <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

  </main>


</body>

</html>